body {
  font-family: roboto, sans-serif;
  color: #2e2f42;
}
:root {
  --main-color: #2e2f42;
  --text-color: #434455;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*---------Header-----------*/

.header {
}
.header-nav {
}
.header-link-logo {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.header-link-logo span {
  color: #4d5ae5;
}

.header-menu-list {
}
.header-menu-item {
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-list {
}
.header-contact-item {
}
.header-contact-mail {
}
.header-contact-tel {
}
